<h1>Services</h1>

<p>
  <%= link_to "New Service", new_service_path %>
</p>

<section>
  <% if @services.any? %>
    <ul>
      <% @services.each do |service| %>
        <li>
          <strong><%= link_to service.title, service %></strong>
          (<%= number_to_currency(service.price) %>)
          by <%= service.user.email %>
          <div>
            <%= link_to "Edit", edit_service_path(service) %> |
            <%= link_to "Destroy", service, method: :delete, data: { confirm: "Are you sure?", turbo_method: :delete } %>
          </div>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>No services created yet.</p>
  <% end %>
</section>
